.newspaper-body{
    display: flex;
    justify-content: center;
}

.inner-newspaper-body{
    flex-basis: 65%;
    display: flex;
    justify-content: space-between;
}

.main-article{
    flex-basis: 70%;
}

.main-article p{
    margin-bottom: 20px;
    line-height: 1.5;
}

.main-article h3{
    font-size: 30px;
    margin-bottom: 15px;
}

.main-article h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.main-article a{
    color: black;
    border-bottom: 3px solid #66CD00;
}

.main-article a:hover{
    background-color: #66CD00;
}

.newsletter-subscribe{
    flex-basis: 25%;
}

.main-article table{
    border-collapse: collapse;
}

.main-article td, th{
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 5px;
    font-size: 14px;
}

.main-article tr:nth-child(odd){
    background-color: rgb(235, 235, 235);
}

.main-article th{
    background-color: rgb(195, 235, 195);
}

.table-container{
    display: flex;
}

.table-container table{
    width: 100%;
    margin-bottom: 10px;
}

.epigraph{
    margin: 20px 0;
}

.main-article #footer-gif{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#sign-up{
    display: flex;
    flex-direction: column;
}

#sign-up h4{
    font-size: 16px;
}

#sign-up input[type="email"]{
    margin-bottom: 10px;
    padding: 5px;
}

#sign-up input[type="submit"]{
    width: 15%;
    background-color: #66CD00;
    border: 1px solid green;
    color: white;
    padding: 5px;
    margin-bottom: 60px
}

#related-topics p{
    font-size: 13px;
    font-weight: 700;
    color: grey;
}

#related-topics p b{
    color: black;
}