.newsletter-subscribe{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 1000px;
    position: sticky;
    top: 100px;
}

.inner-newsletter-subscribe{
    display: flex;
    flex-direction: column;
    height: 250px;
}

.inner-newsletter-subscribe div{
    margin-bottom: 20px;
}

.inner-newsletter-subscribe div:nth-child(2){
    margin-bottom: 5px;
}

.inner-newsletter-subscribe input[type="email"]{
    padding: 5px;
    width: 100%;
}

.inner-newsletter-subscribe input[type="submit"]{
    padding: 10px;
    background-color: #66CD00;
    color: white;
    border: none;
    border-radius: 3px;
}

#subscribe{
    display: flex;
    width: 30%;
    justify-content: center;
    background-color: #66CD00;
    padding: 5px 10px;
    transform: skew(-15deg);
    align-self: center;
}

#subscribe h3{
    color: white;
    font-size: 15px;
}

.extra-news{
    height: 200px;
    padding: 20px 10px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.extra-news:hover{
    background-color: lightgrey;
}

.extra-news h4{
    margin-bottom: 20px;
    color: black;
}

.extra-news img{
    max-width: 100%;
}