header {
    display:flex;
    justify-content: center;
    background-color: black;
    height: 100px;
}

.inner-header {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-between;
}

.inner-header ul {
    display: flex;
}

.inner-header #social-media ul li{
    padding: 0 10px;
}

.inner-header div{
    flex-basis: 25%;
}

.inner-header #company-logo img{
    max-height: 100px;
}

.inner-header #newsletter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#newsletter input[type="email"]{
    margin-left: 5px;
    padding: 7px;
    border-style: none;
    border-radius: 3px;
}

#newsletter input[type="submit"]{
    color: white;
    background-color: #66CD00;
    padding: 7px 10px;
    border-style: none;
    margin-left: 5px;
    border-radius: 3px;
}

#newsletter input[type="submit"]:hover{
    cursor: pointer;
}

#newsletter h2{
    color: white;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}