#animated-social-media{
    display: flex;
    justify-content: center;
}

#animated-social-media ul{
    flex-basis: 65%;
    justify-content: space-between;
}

#animated-social-media ul a{
    display: flex;
    background-color: #66CD00;
    padding: 5px;
    border-radius: 3px;
    flex-basis: 18.5%;
    height: 25px;
    justify-content: center;
    align-items: center;
}

#animated-social-media p{
    display: none;
    color: white;
    font-weight: bold;
}

#twitter-logo li{
    display: flex;
}

#twitter-logo:hover{
    background-color: lightblue;
}

#twitter-logo:hover li p{
    display: flex;
}